 .u-section-1 {
  background-image: url("images/Websitetrninthoi16.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 805px;
}

.u-section-1 .u-image-1 {
  width: 192px;
  height: 263px;
  margin: 116px auto 60px;
}