 .u-section-1 {
  background-image: url("images/Websitetrninthoi9.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 805px;
}

.u-section-1 .u-image-1 {
  width: 207px;
  height: 301px;
  margin: 102px auto 60px;
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-left: 62px;
  }
}