.u-block-2b1c-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-2b1c-3 {
  position: absolute;
  left: 0;
}

.u-block-2b1c-4 {
  position: absolute;
  right: 0;
}

@media (max-width: 575px) {
  .u-block-2b1c-3 {
    width: 28px;
    height: 28px;
  }

  .u-block-2b1c-4 {
    width: 28px;
    height: 28px;
  }
}

 .u-section-1-1 {
  background-image: url("images/Websitetrninthoi13.gif");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 815px;
}

.u-section-1-1 .u-text-1 {
  width: 837px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 672px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-1-1 .u-text-1 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 23px;
    margin-right: 23px;
    margin-bottom: 0;
  }
}

 .u-section-1-2 {
  background-image: url("images/Websitetrninthoi14.gif");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 815px;
}

.u-section-1-2 .u-text-1 {
  font-size: 4.5rem;
  margin: 60px auto 0;
}

.u-section-1-2 .u-text-2 {
  width: 837px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 672px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-1-2 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 2.75rem;
    margin-top: 64px;
    margin-left: 23px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
    margin-bottom: 0;
  }
}

 .u-section-1-3 {
  background-image: url("images/Websitetrninthoi15.gif");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 815px;
}

.u-section-1-3 .u-text-1 {
  font-size: 4.5rem;
  margin: 60px auto 0;
}

.u-section-1-3 .u-text-2 {
  width: 837px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 672px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-1-3 .u-text-1 {
    margin-left: 29px;
  }

  .u-section-1-3 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
  }

  .u-section-1-3 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 2.75rem;
    margin-top: 64px;
    margin-left: 23px;
  }

  .u-section-1-3 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
    margin-bottom: 0;
  }
}

 .u-section-1-4 {
  background-image: url("images/Websitetrninthoi6.gif");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 815px;
}

.u-section-1-4 .u-image-1 {
  width: 324px;
  height: 576px;
  margin: 192px auto 47px -25px;
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-1-4 .u-image-1 {
    width: 347px;
    height: 617px;
    margin-top: 163px;
    margin-bottom: 0;
    margin-left: -49px;
  }
}